body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button{
  background-color: transparent;
  border: 0;
  padding: 0;
  outline: none;
}
input[type=text]{
  border-radius: 0;
  height: 40px;
  border: 0;
}
h1, h2{
  margin: 0;
  line-height: 1.4;
}
.nav-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  height: 50px;
  background-color: rgb(44, 85, 221);
  color: #fff;
}
.nav-bar h1{
  font-size: 16px;
}
.nav-bar svg{
  color: #fff;
}
.chat-box{
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.messages-wrapper{
  padding: 15px 20px;
  font-size: 14px;
}
.messages-wrapper .chat-bubble{
  margin: 0 0 20px;
}
.messages-wrapper .chat-bubble.right{
  text-align: right;
}
.messages-wrapper .chat-bubble.right .info{
  justify-content: flex-end;
}
.messages-wrapper p{
  margin: 0;
}
.messages-wrapper .info{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.messages-wrapper .info img{
  border-radius: 100%;
  width: 30px;
  margin-right: 5px;
}
.messages-wrapper .text{
  background-color: #f8f8f8;
    box-shadow: 0 2px 5px hsl(0deg 0% 45% / 30%);
    padding: 10px;
    border-radius: 15px;
    display: inline-block;
}
.send-message{
  background-color: rgb(245 245 245);
  padding: 10px;
}
.send-box{
  background-color: #fff;
  display: flex;
  align-items: center;
  border: 1px solid rgb(229, 230, 235);
}
.send-box input{
  flex: 1 1 0%;
  padding: 0 10px;
}
.send-box button{
  padding: 10px;
  background-color: #e0e0e0;
}
.sign-in{
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
}
.sign-in img{
  margin-right: 5px;
}
.welcome{
  padding: 15px 20px;
}
.welcome p{
  margin: 10px 0 30px;
}
.welcome .sign-in{
}
.nav-bar .sign-in{
  font-size: 16px;
}
.nav-bar .sign-in img{
  width: 20px;
}